Body {
  text-align: center;
}

nav {
  text-align: center;
  font-family: Helvetica;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
  font-weight: bold;
  }

nav ul {
  list-style-type: none;
}

nav a {
  color: white;
}

footer {
  text-align: left;
  color: black;
}
